<a href="https://colab.research.google.com/github/Lokesh-2303a51642/23CSBTB27-28/blob/main/types_of_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list =[1,5,2,6,3]
print(list[3])

In [ ]:
import numpy as np
list = {1,2,5,6,7}
list1 = [2,4,5,6,7]
print(type(list1))
print(type(list))

<class 'list'>
<class 'set'>

In [ ]:
list = ["Greeks","for","Greeks"]
list2 = "My first lab"
list3 = 4.3
list4 = 2j+6
list5 = 'My first lab'
print(type(list))
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list4))
print(type(list5))
print("\nlist Items :")
print(list)

<class 'list'>
<class 'list'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>

list Items :
['Greeks', 'for', 'Greeks']

In [ ]:
list = {1:'ravi',2:'lokesh'}
print(type(list))

<class 'dict'>